body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}