/* * {
    border: solid 2px red;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    width: 98vw
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/********************/

div.about {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-flow: column wrap;
    max-width: 100vw;
    max-height: 400px;
    flex-basis: 200px;
    padding: 50px 100px;
}
 #about-img {
    max-width: 400px;
    margin: 0 25px;
    align-self: self-end;
 }

 button.about, 
button.cta-sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    border-radius: 5px;
    height: 25px;
    border: none;
    outline: none;
 }

 .main-info {
    height: 25%;
 }

 .title-subtext {
    max-width: 300px;
 }

 .title-text {
    margin-top: 0;
 }

 .intro-info {
    display: flex;
    flex-wrap: wrap;
 }

 /********************/

h2.main-info {
    text-align: center;
    width: 100 vw;
    color: #1f2937;
    margin: 50px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.main-img {
    border-radius: 10px;
    border: solid 2px #3882f6;
    height: 150px;
    width: 150px;
    background-size: contain;
    object-fit: cover;
}

.main-img-txt {
    width: 150px;
    text-align: center;
}

/*****************************/

.testimonial {
    padding: 75px 0;
    margin: auto;
    background-color: #e5e7eb;
    font-size: 24px;
    font-weight: 300;
    padding: 75px 200px;
}

quoteblock {
    display: block;
    margin-top: 10;
}

cite {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

/******************************/

.call-to-action {
    background-color: #f9faf8;
}

.cta-box {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.cta-flex-row {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    height: 60%;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.cta-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-title, .cta-text {
    color: #f9faf8;
    margin: 0;
}

button.cta-sign-up {
    border: solid 1px #f9faf8;
    width: 100px;
}

/************************************/


.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    margin: auto,0;
}

