/* * {
    border: solid 2px red;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    width: 98vw
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/********************/

div.about {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-flow: column wrap;
    max-width: 100vw;
    max-height: 400px;
    flex-basis: 200px;
    padding: 100px 150px;
}
 #about-img {
    max-width: 400px;
    margin: 0 25px;
 }

 button.about {
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    border-radius: 5px;
    height: 25px;
    border: none;
    outline: none;
 }

 .main-info {
    height: 25%;
 }

 .title-subtext {
    max-width: 300px;
 }

 .title-text {
    margin-top: 0;
 }

 .intro-info {
    display: flex;
    flex-wrap: wrap;
 }

 /********************/

 


